extends ../layout

block content
  .main-login
    .row
      .login-box.col-sm-4.col-sm-offset-4 
        .login-panel
          .login-title
            span Authenticate
          .login-body
            form(method="POST", action="/login")
              .form-group.login-field
                label Username
                input.form-control(name="username", type="text")
              .form-group.login-field
                label Password
                input.form-control(name="password", type="password")
              input.btn-o.btn-login(name="submit", value="Login", type="submit")
            a.btn-white(href="/register") Register
