extends ../layout

block content
  .main-goals.container
    form(method="POST", action="/goals/add")
      .form-group
        label Title
        input.form-control(type="text", name="title")
      .form-group
        label Description
        textarea.form-control(name="description")
      input.btn.btn-success(type="submit" name="submit" value="Submit")
